server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sleeve?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: password
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
redis:
  localhost: localhost
  port: 6379
  database: 7
  password:
  listen-pattern: __keyevent@7__:expired
missyou:
  security:
    jwt-key: 7777777yue
    token-expired-in: 86400000
  order:
    max-sku-limit: 800
    pay-time-limit: 3600
    pay_callback_host: http://talelin.com
    pay_callback_path: /v1/payment/wx/notify