server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/sleeve?characterEncoding=utf-8&serverTimezone=GMT%2B8
    username: root
    password: password
  jpa:
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  missyou:
    security:
      jwt-key: 7777777yue
        token-expired-in: 86400000